<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dabshi_test_graphic">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/darilogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/darilogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rento_test_graphic">

        <activity android:name="com.app.dabshi_test_graphic.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.app.dabshi_test_graphic.Users.Owner.OwnerSingleProperty" />
        <activity android:name="com.app.dabshi_test_graphic.Users.Client.SinglePropertyActivity" />
        <activity android:name="com.app.dabshi_test_graphic.SignupActivity" />
        <activity android:name="com.app.dabshi_test_graphic.LoginActivity" />
        <activity android:name="com.app.dabshi_test_graphic.Users.Owner.OwnerMainActivity" />

        <activity
            android:name="com.app.dabshi_test_graphic.Users.Client.ClientMainActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
    </application>

</manifest>